doctype html
html(lang="es")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title tgb-theme-skeleton
    meta(name='description', content='Plantilla para temas web')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='assets/styles.css')
  body
    h1 tgb-theme-skeleton
    p
      i.fa.fa-star
      |  Creando el esqueleto para un tema web con bootstrap y font-awesome. 
      i.fa.fa-star
  script(src='assets/scripts.js')